*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 15%;
    background-color: #2697BF;
    padding: 2%;
    height: 100vh;
    position: fixed;
    color: white;
}

.sidebar h4 {
    margin: 0;
    padding: 2% 0;
    text-align: center;
}

.admin-info {
    text-align: center;
    margin-bottom: 2%;
}

.admin-info p {
    margin: 1% 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15% 0;
}

.sidebar ul li a {
    text-decoration: none;
   color: white;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover{
    font-weight: bold;
    color: #2e5c8d;
}

.sidebar ul li a i {
    margin-right: 3%;
}

.menu-item {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #ddd;  /* Màu nền khi hover */
}

.menu-item.active {
    background-color: #007bff; /* Màu nền nổi bật khi active */
    color: white;
    font-weight: bold;
}


.main-content {
    margin-left: 15%;
    
    width: calc(100% - 15%);
}
header{
    height: 70px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
   
    position: relative;
 
}
.search-bar{
    position: absolute;
    right: 2%;
    width: 15%;
}

.coach-license-suggestion{
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid transparent; 
    transition: border 0.3s;
}

.suggestion-list li:hover, 
.suggestion-list li:focus {
    border: 3px solid #007bff; 
    background-color: #e9ecef; 
    outline: none; 
}



.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.btn-custom {
    background-color: #007bff;
    border: none;
    color: white;
    width: 100%;
}
.btn-custom:hover {
    background-color: #0056b3;
}