.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.toggle-link {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
}

.toggle-link:hover {
    text-decoration: underline;
}

.password-toggle {
    position: relative;
}

.password-toggle input {
    padding-right: 40px;
    /* Tạo khoảng cách giữa input và icon con mắt */
}

.password-toggle .fa-eye,
.password-toggle .fa-eye-slash {
    position: absolute;
    top: 60%;
    right: 20px;
    cursor: pointer;
}