.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.toggle-link {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
}

.toggle-link:hover {
    text-decoration: underline;
}

.password-toggle {
    position: relative;
}

.password-toggle input {
    padding-right: 40px;
    /* Tạo khoảng cách giữa input và icon con mắt */
}

.password-toggle .fa-eye,
.password-toggle .fa-eye-slash {
    position: absolute;
    top: 60%;
    right: 20px;
    cursor: pointer;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu xám mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Đảm bảo overlay ở trên cùng */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.4em solid #fff;
    border-right-color: transparent;
    animation: spinner-border 1s linear infinite;
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}